#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
//   position: relative;
}

#bookmark{
    margin-top: 2rem;
}
.left{
    text-align: left;
}
.row{
    // justify-content: space-evenly !important;
    margin: auto 0px !important; 
    flex-wrap: initial;
}
.row-cols-4 > *{
    width: 23% !important;
}
.delete{
    &:hover{
        background-color: rgba(255, 136, 136, 0.5);
    }
}

.container2{
    width: 95% !important;
    margin: auto;
}

.card2{
    height: 60px;
    align-items: center;
    justify-content: center;
    margin: 0px 0.35rem;
}
.pointer{
    cursor: pointer;
    &:hover{
        border-color: #0d6efd;
        color: #0d6efd;
    }
}

.favourite{
    &:hover{
        border-color: white;
        background: #de3c1c;
        color: white;
    }
}

.added{
    border: 2px solid #000cb5 !important;
    border-radius: 5px !important;  
    font-weight: bold;
    color: #000cb5 !important;  
}

.search-wrapper {
    display: flex;
    text-align: left;
    margin: 10px 0px;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;

  .text-input {
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #7a7a7a;
    margin-right: 1rem;
  }
}
.radio{
    text-align: left;
    margin-bottom: 1rem;
    label{
        margin-right: 20px;
    }
    input[type="radio"]{
        margin-right: 8px;
    }
}
.mh-450{
    max-height: 450px;
    overflow: auto;
    // overflow-x: hidden;
    position: relative;
}

.spinner{
    position: absolute;
  top: 50%;
  left: 50%;
    z-index: 999;
}
.flex {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
