<template>
  <b-container class="container2 mb-3 mt-3">
    <div class="left mb-3">
      <b-button variant="outline-primary" @click="goBack">Back</b-button>
    </div>

    <div class="mb-3 mh-450">
      <b-row cols="4">
        <b-col
          class="card card2 pointer mb-3 favourite"
          v-for="(post, index) in bookmark"
          :key="index"
          @click="removeBookmark(post, index)"
        >
          {{ post.default_name || specificName(post) }}
        </b-col>
      </b-row>
    </div>
  </b-container>
</template>

<script>
import { mapState } from "vuex";
export default {
  name: "Bookmark",
  components: {},
  data() {
    return {};
  },
  watch: {},
  computed: {
    ...mapState(["bookmark"])
  },
  methods: {
    goBack() {
      this.$router.push("/");
    },
    removeBookmark(item, index) {
      let name = item.default_name || this.specificName(item);
      var ok = confirm("Confirm remove this " + name + " from bookmark?");
      if (ok) {
        const tobedelete_index = this.bookmark.findIndex(object => {
          return object.keyword_id === item.keyword_id;
        });
        this.bookmark.splice(tobedelete_index, 1);
        alert(name + " from bookmark removed!");
        this.$store.commit("setBookmark", this.bookmark);
      }
    },
    specificName(item) {
      return item.en || item.zh - CN;
    }
  },
  mounted() {
    if (sessionStorage.getItem("bookmark_list")) {
      this.$store.commit(
        "setBookmark",
        JSON.parse(sessionStorage.getItem("bookmark_list"))
      );
    }
  }
};
</script>
