<template>
  <b-container class="container2 mb-3">
    <b-spinner v-show="busy" class="spinner"></b-spinner>
    <div class="search-wrapper">
      <input
        class="text-input"
        type="text"
        v-model="search"
        placeholder="Search title.."
      />

      <div>
        <b-dropdown
          right
          variant="primary"
          id="dropdown-1"
          :text="bookmark.length + ' Bookmark'"
          class="m-md-2"
        >
          <b-dropdown-item v-if="bookmark.length == 0"
            >No bookmark added</b-dropdown-item
          >
          <b-dropdown-item
            v-else
            :key="index"
            v-for="(item, index) in latest_five_bookmark"
          >
            <b-list-group>
              <b-list-group-item
                class="d-flex justify-content-between align-items-center"
              >
                {{ item.default_name || specificName(item) }}
                <b-icon
                  class="delete"
                  icon="trash"
                  scale="0.8"
                  variant="danger"
                  @click="removeBookmark(item, index)"
                ></b-icon>
              </b-list-group-item>
            </b-list-group>
          </b-dropdown-item>
          <b-dropdown-divider
            v-if="latest_five_bookmark.length > 0"
          ></b-dropdown-divider>
          <b-dropdown-item v-if="latest_five_bookmark.length > 0">
            <b-button
              style="width:100%"
              block
              variant="outline-primary"
              @click="gotoBookmark"
              >View All</b-button
            >
          </b-dropdown-item>
        </b-dropdown>
      </div>
    </div>
    <div class="radio">
      Filter by:
      <div class="item-radio">
        <label
          ><input
            v-model="filterby"
            name="radio1"
            type="radio"
            value="asc"
          />Asc</label
        >
        <label
          ><input
            v-model="filterby"
            name="radio1"
            type="radio"
            value="desc"
          />Desc</label
        >
        <label
          ><input v-model="filterby" name="radio1" type="radio" value="" />No
          Filter</label
        >
      </div>
    </div>
    <div class="mb-3 mh-450">
      <b-row cols="4" v-if="ready">
        <b-col
          class="card card2 pointer mb-3"
          v-for="(post, index) in filterResult"
          :key="index"
          :class="flagFound(post) ? 'added' : ''"
          @click="confirmBookmark(post, index)"
        >
          {{ post.default_name || specificName(post) }}
        </b-col>
      </b-row>
    </div>

    <div class="flex">
      <div>
        Display:
        <b-form-select v-model="selection" :options="options"></b-form-select>
      </div>

      <b-overlay
        :show="busy"
        rounded
        opacity="0.6"
        spinner-small
        spinner-variant="primary"
        class="d-inline-block"
      >
        <b-button
          size="sm"
          ref="button"
          variant="primary"
          @click="incrementPage"
          :disabled="
            busy || current_page * parseInt(selection) > shownList.length
          "
        >
          {{
            current_page * parseInt(selection) > shownList.length
              ? "End of Result"
              : "View More"
          }}
        </b-button>
      </b-overlay>

      <div>
        <b> {{ filterResult.length }} / {{ totalList.length }}</b>
      </div>
    </div>
  </b-container>
</template>

<script>
import json from "../assets/keyword.json";
import { mapState } from "vuex";
export default {
  name: "List",
  components: {
  },
  data() {
    return {
      ready: true,
      //   json_list: json,
      search: "",
      current_page: 1,
      selection: "20",
      options: [
        { value: 20, text: "20" },
        { value: 50, text: "50" },
        { value: 100, text: "100" },
        { value: 200, text: "200" },
        { value: 500, text: "500" }
      ],

      filterby: "",
      busy: false,
      //   bookmark: []
      info: []
    };
  },
  watch: {
    selection() {
      this.current_page = 1;
    },
    filterby() {
      this.$forceUpdate();
    }
  },
  computed: {
    ...mapState(["bookmark"]),
    totalList() {
      let self = this;
      if(self.info && self.info.data){
          return Object.values(self.info.data);
      }
      else{
          return []
      }
    },
    shownList() {
      let self = this;
      return this.totalList.filter(function(item, index) {
        if (index < self.current_page * parseInt(self.selection)) {
          return item;
        }
      });
    },
    filterOne() {
      let self = this;
      let result = this.shownList.filter(function(item) {
        return item.default_name
          .toLowerCase()
          .includes(self.search.toLowerCase());
      });
      return result;
    },
    filterResult() {
      let self = this;
      let result = this.filterOne.filter(function(item) {
        let cur_flag = false;
        let str_arr = item.default_name.toLowerCase().split(" ");

        for (let i = 0; i < str_arr.length; i++) {
          if (str_arr[i].startsWith(self.search.toLowerCase())) {
            cur_flag = true;
            break;
          }
        }

        if (cur_flag) {
          return item;
        }
      });

      if (this.filterby == "asc") {
        result.sort(this.compare);
      } else if (this.filterby == "desc") {
        result.sort(this.compare);
        result.reverse();
      }
      return result;
    },
    latest_five_bookmark() {
      if (this.bookmark.length > 5) {
        let temp = [];
        for (var i = 0; i < 5; i++) {
          console.log(i, this.bookmark.length);
          temp.push(this.bookmark[this.bookmark.length - (i + 1)]);
        }
        return temp;
      } else {
        return this.bookmark;
      }
    }
  },
  methods: {
    flagFound(val) {
      let self = this;
      let flag = false;
      self.latest_five_bookmark.forEach(item => {
        if (item.keyword_id == val.keyword_id) {
          flag = true;
        }
      });

      return flag;
    },
    gotoBookmark() {
      this.$router.push("/bookmark");
    },
    //sorting asc or desc
    compare(a, b) {
      if (a.default_name < b.default_name) {
        return -1;
      }
      if (a.default_name > b.default_name) {
        return 1;
      }
      return 0;
    },
    confirmBookmark(item, index) {
      let name = item.default_name || this.specificName(item);
      var ok = confirm("Confirm add this " + name + " to bookmark?");
      if (ok) {
        //check for duplicate item
        const found = this.bookmark.some(
          el => el.keyword_id === item.keyword_id
        );
        if (!found) {
          this.bookmark.push(item);
          this.$store.commit("setBookmark", this.bookmark);
        } else alert("Item found");
        this.$forceUpdate();
      }
    },
    removeBookmark(item, index) {
      let name = item.default_name || this.specificName(item);
      var ok = confirm("Confirm remove this " + name + " from bookmark?");
      if (ok) {
        const tobedelete_index = this.bookmark.findIndex(object => {
          return object.keyword_id === item.keyword_id;
        });
        this.bookmark.splice(tobedelete_index, 1);
        alert(name + " from bookmark removed!");
        this.$store.commit("setBookmark", this.bookmark);
        this.$forceUpdate();
      }
    },
    incrementPage() {
      let self = this;
      self.busy = true;
      setTimeout(() => {
        self.busy = false;
      }, 500);
      this.current_page += 1;
    },
    specificName(item) {
      return item.en || item.zh - CN;
    }
  },
  mounted() {
    this.$axios
      .get("https://assets.g2g.com/offer/keyword.json")
      .then(response => (this.info = response));
  }
};
</script>
