<template>
  <div id="app">
    <router-view class="app-main" />
  </div>
</template>

<script>
export default {
  name: "App",
  components: {
  },
  data() {
    return {
    };
  },
  watch:{
  },
  computed: {
  },
  methods: {
  }
};
</script>
